.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--card-bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .menu-button {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .logo {
    height: 40px;
  }
  
  .search-input {
    margin-right: 20px;
  }
  
  .navbar-icons .icon {
    margin-right: 15px;
  }
  
  .generate-report-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  } 
  



