.sidebar {
  width: 250px;
  background-color: var(--card-bg-color);
  transition: all 0.3s ease;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 80px;
}

.profile {
  text-align: center;
  padding: 20px;
}

.profile-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-item {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.sidebar-item:hover, .sidebar-item.active {
  background-color: #007bff;
  color: #fff;
}

.icon {
  margin-right: 10px;
}

.sidebar-item.collapsed .icon {
  margin: 0 auto;
}

.sidebar-item.collapsed span {
  display: none;
}

.sidebar-sub-item {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.sidebar-sub-item:hover, .sidebar-sub-item.active {
  background-color: #007bff;
  color: #fff;
}

.sidebar-sub-item .icon {
  margin-right: 10px;
}
